<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="/Users/sbelvadi/Documents/personal_workspace/deye-website/dEyeCSS.css">
        <title>DEye</title>
    </head>

    <body id="doc-body">
        <object class="menuBarObject" type="text/html" data="/Users/sbelvadi/Documents/personal_workspace/deye-website/deye/deye/src/views/menuBarComponent/menuBarComponent.html"></object>
        <img id="featured-image" />
        <svg class="svgSeparator">
            <ellipse cx="400" cy="250" rx="320" ry="220" />
        </svg>
        <img id="deye-logo" />
    </body>
    <script type="text/javascript" src="/Users/sbelvadi/Documents/personal_workspace/deye-website/deye/deye/src/views/images.js"></script>
</html>
